extends layout

block content
    div.petInformation
        h1 Pet Information
        p
        |The information on this page is meant to inform the user on how certain types of pets behave and
        |to properly retrieve these pets in a way where it suffers minimal stress and both parties take no damage.

    div.dogInformation
        div.column
            div.dogBehavior
                h2 Dog Behaviour when Lost
                p(style="font-size:14px;") Man's best friend, our ever-lovable 4 legged companions. Whenever dogs go missing, they will wander around in search of things that interest them or for their owner. This is typically the easiest time to find and retrieve the dog, as they will respond to commands and sounds/smells they recognize. Depending on the species/treatment a dog has received, after an hour or week dogs will switch to a "survival" mode and default to most of their primal survival instincts. They will become wary of humans and will only seek food, water, and safety. They will also ignore commands they were trained to heed and toys they've played with for years as this survival mode suppresses their pet personality. Dogs will also often stay in one general area though.
            div.dogRetrieval
                h2 How to properly retrieve a Lost Dog
                p(style="font-size:14px;") To properly retrieve a dog, set up a trap with food dogs like or water. If you yourself are not the owner, this method must be used, as other methods will not work and chasing down the dog will stress it out and kick survival mode into overdrive. If you are the dog's owner, you may attempt to try to get it to recognize you by slowly gaining its trust through food until they recognize you. Survival mode usually ends shortly after recognizing their owner.
        div.dogImage
            img(class="petInfo1", src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYb2J0ytQGS93qC9AkVJ4JTFRqLaBIlgjylw&s")
    div.catInformation
        div.column
            div.catBehavior
                h2 Cat Behaviour when Lost
                p(style="font-size:14px;") Cats act similarly, but not exactly like dogs when lost. They too will enter a survival mode after a few hours of getting lost/entering territory they're unfamiliar with, however instead of roaming around they will instead hide. This makes cats harder to find than dogs, as they're much more mobile and prioritize the aforementioned hiding as a safety mechanism. Cats, again similarly to dogs, will set up a new territory to call their own when they get lost and stick to said territory.
            div.catRetrieval
                h2 How to properly retrieve a Lost Cat
                p(style="font-size:14px;") To properly retrieve a cat, a trap must be set up in most scenarios. Identifying where the cat has set up it's own new territory is the first thing a person searching for said cat should do. This can be done by leaving out food and identifying the cat as they show up to eat said food via a camera or by waiting in a concealed area nearby. A trap must then be placed and adapted for the specified area.
        div.catImage
            img(class="petInfo2", src="https://s30379.pcdn.co/wp-content/uploads/2017/08/cat-hiding-under-deck.jpg")
    div.birdInformation
        div.column
            div.birdBehavior
                h2 Bird Behaviour when Lost
                p(style="font-size:14px;") Birds have some similarities to dogs and cats when they get lost. They will panic, and look for any familiar sights before hunkering down. If they cannot find any safe places, they'll pick a tree or other hidden places in higher areas. Birds will also remain in the same general area as well. Unfortunately, if the bird isn't used to the wilderness and wildlife, it will likely die from a predator or out of starvation. All of this combined makes birds one of the hardest pets to find before death, as their mobility and relatively poor survival skills (if untrained) can prove very difficult for prolonged searches.
            div.birdRetrieval
                h2 How to properly retrieve a Lost Bird
                p(style="font-size:14px;") Retrieving lost birds can be extremely hard if they've escaped out of the house. Begin searching and enlist aid as soon as possible to maximize your chances of finding the bird. Try to make familiar sounds or sounds you've made before around the bird, as it may attract them back to you (due to them being attracted to familiar sights). Easy food and the cage you kept your bird in can also cause them to take refuge nearby, which can help you retrieve them.
        div.birdImage
            img(class="petInfo3", src="https://www.nationalpetregister.org/photo-missing/109744.jpg")
    div.rabbitInformation
        div.column
            div.rabbitBehavior
                h2 Rabbit Behaviour when Lost
                p(style="font-size:14px;") Like all other pets, rabbits will panic upon being lost for a certain period of time or when they enter unfamiliar territory. They'll hide for the most part during the day and will be the most active around dawn and dusk to graze. Your rabbit will try it's best to remain unseen and hidden after it's initial state of panic, and may create or select a temporary new home. After the first day or so of the rabbit realizing it's lost, your rabbit may begin to roam farther away, so it's best to find them early.
            div.rabbitRetrieval
                h2 How to properly retrieve a Lost Rabbit
                p(style="font-size:14px;") Like most other lost pets, try luring the rabbit out with food and and your familiar voice (in a soft tone). If the rabbit has been lost in your house, look in any small crevices or spaces and close off all possible escape routes. This applies to trying to find a rabbit in the wilderness, except it's much harder. Whilst searching, keep sudden movements and loud sounds to a minimum to prevent the rabbit from panicking and running away, and have patience when met with having to slowly rein the rabbit out of it's hiding place by voice or food.
        div.rabbitImage
            img(class="petInfo3", src="https://www.nationalpetregister.org/photo-missing/109352.jpg")
    div.helpfulResources
        h2 Helpful Resources
            br
            a(href="https://holidaybarn.com/blog/dog-survival-mode/") holidaybarn.com: Dog Survival Mode
            br
            a(href="https://petfbi.org/what-to-do/lost-cat-behavior/") petfbi.org: Lost Cat Behaviour
            br
            a(href="https://www.thesprucepets.com/what-to-do-if-your-bird-flies-away-390732") thesprucepets.org: Retrieving Pet Birds that Escape from Home
            br
            a(href="https://rabbit.org/rescue/how-to-rescue-a-rabbit-running-loose/") rabbit.org: How to Rescue a Rabbit Running Loose