extends layout

block content
    div.petInformation
        h1 Pet Information
        p
        |The information on this page is meant to inform the user on how certain types of pets behave and
        |to properly retrieve these pets in a way where it suffers minimal stress and both parties take no damage.
    div.dogInformation
        div.column
            div.dogBehavior
                h2 Dog Behaviour when lost
                p(style="font-size:14px;") Man's best friend, our ever-lovable 4 legged companions. Whenever dogs go missing, they will wander around in search of things that interest them or for their owner. This is typically the easiest time to find and retrieve the dog, as they will respond to commands and sounds/smells they recognize. Depending on the species/treatment a dog has received, after an hour or week dogs will switch to a "survival" mode and default to most of their primal survival instincts. They will become wary of humans and will only seek food, water, and safety. They will also ignore commands they were trained to heed and toys they've played with for years as this survival mode suppresses their pet personality. Dogs will also often stay in one general area though.
            div.dogRetrieval
                h2 How to properly retrieve a lost dog
                p(style="font-size:14px;") To properly retrieve a dog, set up a trap with food dogs like or water. If you yourself are not the owner, this method must be used, as other methods will not work and chasing down the dog will stress it out and kick survival mode into overdrive. If you are the dog's owner, you may attempt to try to get it to recognize you by slowly gaining its trust through food until they recognize you. Survival mode usually ends shortly after recognizing their owner.
        div.dogImage
            img(class="petInfo1", src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYb2J0ytQGS93qC9AkVJ4JTFRqLaBIlgjylw&s")
    div.catInformation
        div.column
            div.catBehavior
                h2 Cat Behaviour when lost
                p(style="font-size:14px;") Cats act similarly, but not exactly like dogs when lost. They too will enter a survival mode after a few hours of getting lost/entering territory they're unfamiliar with, however instead of roaming around they will instead hide. This makes cats harder to find than dogs, as they're much more mobile and prioritize the aforementioned hiding as a safety mechanism. Cats, again similarly to dogs, will set up a new territory to call their own when they get lost and stick to said territory.
            div.catRetrieval
                h2 How to properly retrieve a lost cat
                p(style="font-size:14px;") To properly retrieve a cat, a trap must be set up in most scenarios. Identifying where the cat has set up it's own new territory is the first thing a person searching for said cat should do. This can be done by leaving out food and identifying the cat as they show up to eat said food via a camera or by waiting in a concealed area nearby. A trap must then be placed and adapted for the specified area.
        div.catImage
            img(class="petInfo2", src="https://s30379.pcdn.co/wp-content/uploads/2017/08/cat-hiding-under-deck.jpg")
    div.sources
        h2 Helpful Resources
        a.source(href="https://holidaybarn.com/blog/dog-survival-mode/" target="_blank") Dog Survival Mode (holidaybarn.com)
        a.source(href="https://petfbi.org/what-to-do/lost-cat-behavior/" target ="_blank") Lost Cat Behaviour (petfbi.org)