doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      div.the-title HowlBack

      div.nav-content
        ul
          li
            a(href="/") Lost
          li
            a(href="/forum") Sightings
          li
            a(href="/info") Helpful Info
          if user
            li
              div.name Hello #{user.displayName}
            li
              a(href='/logout') Log Out
          else
            li
              a(href='/login') Login
            li
              a(href="/register") Register
      div
    div.container
      //Remove content-container and then restyle accordingly
      div.content-container
        block content