/* region Body and Layout*/

.error {
  color: darkred;
  font-weight: bold;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #CBD5E1;
  margin: 0;
}

/* region Nav-Bar */
a {
  color: #00B7FF;
  text-decoration: none;
}

nav{
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  position: fixed;
}

nav ul{
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
  justify-content: space-evenly;
  text-align: center;
}

.the-title{
  font-size: 20px;
  padding-left: 64px;
}

nav li{
  width: 30%;
  align-content: center;
}

nav li a{
  display: block;
  padding: 20px 30px;
  color: #0083cd;
  font-size: 18px;
}

nav li a:hover{
  background-color: #f1f1f1;
  border-radius: 15px;
}

.nav-content{
  max-width: 1300px;
  width: 100%;
}

/* endregion Nav-Bar */

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding-top: 75px;
}

.content-container {
  background: azure;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid black;
}

/* endregion */

/* region Card */

/* region Basic Styling */

.card{
  background: white;
  border-radius: 16px;
  width: 350px;
  border: 3px solid rgb(26, 57, 62);
  margin-bottom: 20px;
  padding: 1px;
}

.card:hover{
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-container{
  padding: 48px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-content{
  margin: 3px 8px;
}

/* endregion */

/* region topOfCard */

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 30px;
}

/* endregion */

/* region middleOfCard */

.middle {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.petImage {
  width: 300px;
  height: 200px;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.petDescription{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 275px;
  border: 1px solid black;
  border-radius: 4px;
}

.description {
  margin: 5px;
}

/* endregion */

/* region bottomOfCard */

.bottom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sightingInfo {
  background: #d8dada;
  text-align: center;
  border: 1px solid black;
}

.contactInfo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 30px;
  margin-bottom: 5px;
  background: floralwhite;
}

.phoneNumber {
  display: flex;
  margin-right: 5px;
}

.emailAddress {
  margin-left: 5px;
  text-decoration: none;
}

.specifics {
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.lastKnownLocation {
  border: 1px solid black;
  padding: 4px;
  border-radius: 8px;
}

.editButton {
  display: flex;
  justify-content: center;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 5px;
  border: 1px solid black;
}

/* endregion */

/* endregion */

/* region Buttons */

.addCard {
  display: flex;
  justify-content: center;
  background: antiquewhite;
  max-width: 400px;
  border-radius: 5px;
  border: 1px solid black;
  width: 20%;
}

.addCard:hover {
  background: gray;
}

/* region Filter */

.filter {
  width: 90%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  background: antiquewhite;
  border-radius: 5px;
}

.filter-input {
    padding: 8px;
    border: 1px solid black;
    max-width: 15%;
}

.filter:hover {
  background: #9e9e9e;
  color: #000000;
}

/* region Dropdown Menu */

select {
  background: antiquewhite;
}

option {
  background: red;
}

/* endregion */

/* endregion */

.addButton {
  position: fixed;
  left: 0;
  bottom: 0;
  border: 2px solid black;
  border-radius: 20px;
  width: 10%;
  height: 10%;
  text-align: center;
  align-content: center;
  background-color: white;
  font-weight: bold;
}

.button{
  border-radius: 12px;
  padding: 4px 8px;
  border: 1px solid black;
  color: cornflowerblue;
  background: whitesmoke;
  margin: 4px;
}

.submit {
  background: steelblue;
  color: white;
}

.cancel {
  background: lightgrey;
  color: black;
}

.delete {
  background: darkred;
  color: white;
}

/* endregion */

/* region Forms */

label{
  display: block;
  font-weight: bold;
}

.form-input {
  margin-bottom: 8px;
}

/* endregion