extends ../layout

block content
    div.loginIn
        div.loginTop
            h3 Login
            p
                |If you don't have an account
                a(href='/register')  register
        div.loginBottom(style="display:flex;")
            form(action='/login' method='post' style="flex-direction: row;")
                div.email
                    input(type='text' name='email' id='email' placeholder='Email')
                div.password
                    input(type='text' name='password' id='password' placeholder='Password')
                button.button(type='submit') Log In
            if error
                p.error=error