extends ../layout

block content
    form(action='/register' method='post')
        div
            label(for='name') Name
            input(type='text' name='name' id='name')
        div
            label(for='password') Password
            input(type='text' name='password' id='password')
        div
            label(for='email') Email
            input(type='text' name='email' id='email')
        div
            button.button(type='submit') Register
    if error
        p.error=error